contextualized_topic_models==2.5.0
fastapi==0.103.2
hdbscan==0.8.33
langchain==0.0.305
matplotlib==3.7.1
nltk==3.7
numpy==1.24.2
openai==0.27.8
pandas==2.1.1
pyLDAvis==3.4.1
pyLDAvis==3.4.1
scikit_learn==1.1.1
scipy==1.11.3
seaborn==0.13.0
sentence_transformers==2.2.2
tiktoken==0.4.0
tweepy==4.14.0
umap_learn==0.5.4
